!!! 5

%html
	%head
	%title seattle a2b
	%meta{name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no'}

	%link{type: 'text/css', rel: 'stylesheet', href: 'bootstrap.min.css'}
	%link{type: 'text/css', rel: 'stylesheet', href: 'app.css'}

	%script{type: 'text/javascript', src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_KEY']}"}
	%script{type: 'text/javascript', src: 'jquery-2.1.3.min.js'}
	%script{type: 'text/javascript', src: 'app.js'}

	%body
	.container
		#a2b
			%div
				%label{for: 'pointA'} Point A:
				%input#pointA{type: 'text', name: 'pointA', placeholder: 'start address'}
			%div
				%label{for: 'pointB'} Point B:
				%input#pointB{type: 'text', name: 'pointB', placeholder: 'end address'}
			%div
				%button#submit.btn-default plan trip
				%button#clear.btn-default clear trip

		.row#trips
			#transit.col-sm-4
				%h3 fastest transit route
				.loader
					%img{src: 'black-ajax-loader.gif'}
				#transit-info
			#car.col-sm-4
				%h3 nearest car2go
				.loader
					%img{src: 'black-ajax-loader.gif'}
				#car-info
					#car-walk
						.summary
						.directions
					#car-drive
						.summary
						.directions
			#walk.col-sm-4
				%h3 or you <em>could</em> walk...
				.loader
					%img{src: 'black-ajax-loader.gif'}
				#walk-info
					.summary
					.directions
		.row
			#map-canvas.col-sm-12
		%footer
