!!! 5

- require './lib/trip_planner'

%html
	%head
	%title seattle a2b
	%link{type: 'text/css', rel: 'stylesheet', href: 'bootstrap.min.css'}
	%link{type: 'text/css', rel: 'stylesheet', href: 'app.css'}
	%script{type: 'text/javascript', src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_KEY']}"}
	%script{type: 'text/javascript', src: 'jquery-2.1.3.min.js'}
	%script{type: 'text/javascript', src: 'app.js'}

	%body
	.container
		%form#a2b
			%span
				%label{for: 'pointA'} Point A:
				%input#pointA{type: 'text', name: 'pointA', placeholder: 'point A', value: '352 N 80th St'}
			%span
				%label{for: 'pointB'} Point B:
				%input#pointB{type: 'text', name: 'pointB', placeholder: 'point B', value: '525 21st Ave'}
			%span
				%button#submit plan trip

		.directions
			.row.trips
				#car.col-xs-4
					%h3 car
					#car-info
				#walk.col-xs-4
					%h3 walk
					#walk-info
				#transit.col-xs-4
					%h3 transit
					#transit-info
			.row
				#verbiage.col-xs-12

		.row
			#map-canvas.col-xs-12
